<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<% nm = Natto::MeCab.new %>
<%= @text %>
<%= nm %>
<% nm.parse(@text) do |n| %>
  <pre>
    <%= "#{n.surface}\t#{n.feature}" %>
  </pre>
<% end %>
